<h2>Product List</h2>

<form>
  Field 
  <select name="field" [(ngModel)]="fieldName">
    <option value="">None</option>
    <option value="price">Price</option>
    <option value="year">Year</option>
  </select>

  Predicate
  <select name="predicate" [(ngModel)]="predicate">
      <option value="eq">==</option>
      <option value="gt">&gt;</option>
      <option value="lt">&lt;</option>
  </select>

  Expected
    <input name="expected" [(ngModel)]="expected"
           type="number" />
</form>

<h6>Filtering {{fieldName}} {{predicate}} {{expected}}</h6>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Year</th>
    <th>+Cart</th>
  </tr>

  <tr *ngFor="let product of products$ | async | filter:fieldName:predicate:expected ">
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.year}}</td>
    <td>
      <button (click)="addToCart(product)">
        +Cart
      </button>
    </td>
  </tr>
</table>