<h2>Product Edit/Create {{product.name}}</h2>


<p *ngIf="productForm.invalid">
    Invalid product data
  </p>


  <p *ngIf="productForm.dirty">
       product Form changed
  </p>
  

<form #productForm="ngForm"
      (ngSubmit)="saveProduct()"
>
 Name
 <input name="name"
        [(ngModel)]="product.name"
        required
        minlength="3"
        #productName="ngModel"
        />

  <p *ngIf="productName.invalid">
    Invalid product Name
  </p>


  <p *ngIf="productName.dirty">
       product Name changed
  </p>
  

  Price
  <input name="price"
         [(ngModel)]="product.price"
         type="number"
         required 
         
         #productPrice="ngModel"
         />

    <p *ngIf="productPrice.invalid">
      Invalid product Price
    </p>
  
  
    <p *ngIf="productPrice.dirty">
          product Price changed
    </p>
    
  Year
  <input name="year"
        [(ngModel)]="product.year"
        type="number"
        required />


  Brand
  <select name="brandId"
          [(ngModel)]="product.brandId">
        <option *ngFor="let brand of brands$ | async"
                [value]="brand.id">
           {{brand.name}}
        </option>
  </select>
       
  <button type="submit"
          [disabled]="productForm.invalid"
  >
    Save
  </button>

</form>