<h2>{{title}}</h2>
<!--
 {{expr}} - interpolation - evaluate and convert to string
 [html property]="expr" - property binding
 (event)="expr" - Event binding
-->

<p> Counter {{counter}}</p>
<p> Counter * 10 ==> {{counter * 10}}</p>
<p> Counter {{counter % 2 == 0? 'Even': 'Odd'}}</p>

<p>Counter / 3 ==> {{counter/3 | number:"2.4"}} </p>

<input [value]="counter"
       (focus)="onFocus($event)"
       (blur)="onBlur($event)"
/>

Counter * 2
<input [value]="counter * 2" />

<button [disabled]="counter % 2 == 0">
  Hello
</button>


<button bind-disabled="counter % 2 == 0">
    Hello 2
  </button>

<button (click)="increment($event)">
  +1
</button>

<button on-click="counter = counter - 1">
  -1
</button>